# Panads for ML

### What is Pandas?

1.It is a python library

2.Used to analyze data

pandas is a library used for working with data sets.

it has fuctions for analyzing , clenaing , exploring, 
and manipulating data

## Why Pandas?

pandas allows us to analyze big data and make conclusions based on stastistical theories.

pandas can clean messy data sets, and make them readable and relevant data is very important in data science.

pandas gives you answers about the data like:
    
    Ls  there a crrelation between two or more columns?
    max values ?
    min values

## Features

1. working with large data sheets
2. It is high prformance data analyze tool 
3. It is supports or load large data sheets and more 
flexible to use
4. pandas represent data in tabular(raws and columns)way
5. more efficeient with missing data 
6. It is used for indexing,slicing, subseting the large data 
7. we can merge and join two different dataset easily
8. we can rshape the dataset easily

### INSTALL PANDAS

In [2]:
! pip install pandas

Requirement already satisfied: pandas in c:\users\priya\appdata\local\programs\python\python311\lib\site-packages (2.0.0)

[notice] A new release of pip is available: 23.0.1 -> 23.2.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\priya\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\priya\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in c:\users\priya\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\priya\appdata\local\programs\python\python311\lib\site-packages (from pandas) (1.24.2)
Requirement already satisfied: six>=1.5 in c:\users\priya\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [3]:
import pandas as pd
import numpy as np

In [5]:
 pip install --upgrade pip

Requirement already satisfied: pip in c:\users\priya\appdata\local\programs\python\python311\lib\site-packages (23.0.1)Note: you may need to restart the kernel to use updated packages.

Collecting pip
  Downloading pip-23.2.1-py3-none-any.whl (2.1 MB)
     ---------------------------------------- 2.1/2.1 MB 5.5 MB/s eta 0:00:00
Installing collected packages: pip
  Attempting uninstall: pip
    Found existing installation: pip 23.0.1
    Uninstalling pip-23.0.1:
      Successfully uninstalled pip-23.0.1
Successfully installed pip-23.2.1

In [6]:
import pandas as pd
import numpy as np

In [9]:
print(pd.__version__)

2.0.0

In [8]:
print(np.__version__)

1.24.2

#### Two data structures in pandas

1. Series : A one-dimentional labeled array capable of holding 
    any data type 
2. it is similar to acolumn in a predsheet or a SQL table 
3. DataFrame : A two-dimentinaol labeled data structure 
    with columns of potentially different types .
4. it is similar to a spredsheet , SQL table, or a dict of series Object

##### These data structres provide a lot of flexibility and power working with data in pandas

# Series

##### What is series

Pandas series is like a colum in a table
it is one dimentional array holding data of any type

In [23]:
s = pd.Series ([1,2,3,4,5,6,7,8,9])
s

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64

In [24]:
print(type(s))

<class 'pandas.core.series.Series'>

#### Acess element from series

In [25]:
s[0]

1

In [26]:
print(s)

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64

In [27]:
s[4]

5

#### You can give name to series index

In [28]:
dp = [10,20,30,40,50,60,70]
new_dp = pd.Series (dp, index=["A","B","C","D","E","F","G"])
new_dp

A    10
B    20
C    30
D    40
E    50
F    60
G    70
dtype: int64

In [29]:
list1 = [1,2,3,4,5]
ns = pd.Series(list1,index = ["ABS","DEF","GHI","JKL","MNO"])
ns

ABS    1
DEF    2
GHI    3
JKL    4
MNO    5
dtype: int64

#### Access items using lables

In [30]:
new_dp

A    10
B    20
C    30
D    40
E    50
F    60
G    70
dtype: int64

In [31]:
new_dp["A"]

10

In [32]:
new_dp["F"]

60

#### key /values Object as series

In [33]:
emp = {"Dipak":10,"Dipesh":20,"Dinesh":30}
emp1 = pd.Series(emp)
emp1

Dipak     10
Dipesh    20
Dinesh    30
dtype: int64

In [34]:
calories = {
            'day1': 500,
            'day2': 380,
            'day3': 450,
            'day4': 504, 
}

cal = pd.Series(calories)
cal

day1    500
day2    380
day3    450
day4    504
dtype: int64

In [35]:
cal['day2']

380

In [36]:
cal_new = pd.Series (cal,index =['day1','day2'])
cal_new

day1    500
day2    380
dtype: int64

###### Home work

In [103]:
import pandas as pd
import numpy as np

In [104]:
lst = [1,1.2,'abhi',2,2.2,'dipu',3,3.3,'samir',4,4.4]
lst1 = pd.Series(lst)
lst1

0         1
1       1.2
2      abhi
3         2
4       2.2
5      dipu
6         3
7       3.3
8     samir
9         4
10      4.4
dtype: object

In [105]:
int_s = pd.Series(lst1, index=[0,3,6,9])
int_s

0    1
3    2
6    3
9    4
dtype: object

In [106]:
int_s[0],int_s[3],int_s[6],int_s[9]

(1, 2, 3, 4)

In [107]:
flt=pd.Series(lst1,index=[1,4,7,10])
flt

1     1.2
4     2.2
7     3.3
10    4.4
dtype: object

In [108]:
flt[1],flt[4],flt[7],flt[10]

(1.2, 2.2, 3.3, 4.4)

In [109]:
str1 = pd.Series(lst1,index=[2,5,8])
str1

2     abhi
5     dipu
8    samir
dtype: object

In [110]:
str1[2],str1[5],str1[8]

('abhi', 'dipu', 'samir')

In [113]:
#creat series by using tuple
tup_s = pd.Series([("a",10),('b',20),('c',30),('d',40)])
tup_s

0    (a, 10)
1    (b, 20)
2    (c, 30)
3    (d, 40)
dtype: object

In [114]:
empty_s = pd.Series()
empty_s

Series([], dtype: object)

In [115]:
# creat series by using array
arr = np.array([10,20,30,40])
arr_s = pd.Series(arr)
arr_s

0    10
1    20
2    30
3    40
dtype: int32

In [117]:
sub = (('A',10,'Pune','MH'),('B',20,'Sangli','MH'),('C', 30,'Kolkata','MH'))
sub_s =pd.Series(sub,index=['std1:','std2:',3])
sub_s

std1:       (A, 10, Pune, MH)
std2:     (B, 20, Sangli, MH)
3        (C, 30, Kolkata, MH)
dtype: object

In [118]:
arr = np.arange(1,100,10)
arr_s=pd.Series(arr,index=[np.arange(1,100,10)])
arr_s

1      1
11    11
21    21
31    31
41    41
51    51
61    61
71    71
81    81
91    91
dtype: int32

In [124]:
arr = np.arange(1,100,10)
arr_s=pd.Series(arr,index=[np.arange(1,200,20)])
arr_s

1       1
21     11
41     21
61     31
81     41
101    51
121    61
141    71
161    81
181    91
dtype: int32

In [3]:
import pandas as pd

In [4]:
l=['apple','mango','pineaplle','chiku']
fruit=pd.Series(l,index=['Pink','orange','green', "chocalaty"])
fruit

Pink             apple
orange           mango
green        pineaplle
chocalaty        chiku
dtype: object

In [8]:
fruit['green']= 'greenmango'

In [9]:
fruit

Pink              apple
orange            mango
green        greenmango
chocalaty         chiku
dtype: object

In [11]:
l=['apple','mango','pineapple','chiku']
fruit =pd.Series(l,copy=False)
fruit.iloc[0]='coconut'
fruit

0      coconut
1        mango
2    pineapple
3        chiku
dtype: object

# DataFrame

### Dataframe :
Data sets in pandas are usually multi-dimensional tables,called Dataframe
### Series : is likes a column, a Datafrmae is the whole table
    
A Pandas Dataframes is a 2 Dimensional data struture,like a 2 dimentinaol array, or a table with rows and columns

In [21]:
student = {
     'Name': ["Nitin","Shailesh","Adhik"],
     'Age':[37,34,33],
     'Sex' :['M','M','M']
}

df1= pd.DataFrame(student)
print(df1)

       Name  Age Sex
0     Nitin   37   M
1  Shailesh   34   M
2     Adhik   33   M

In [22]:
student = {
    
}

In [23]:
a = "Dipak"
print(a)

Dipak

In [24]:
len(a)

5

In [25]:
student = {
    'Name':['A','B','c'],
     'Age':[30,31,32],
     'sex': ['M','F','M']
}

df = pd.DataFrame(student,index=['Rahul','Priya','Sandip'])
df

       Name  Age sex
Rahul     A   30   M
Priya     B   31   F
Sandip    c   32   M

In [26]:
import pandas as pd

In [27]:
stud = {
        'Name':['A','B','C','D'],
        'age' : [10,11,12,13],
        'class':['4th','5th','6th','7th']

}

new_df = pd.DataFrame(stud)
new_df

  Name  age class
0    A   10   4th
1    B   11   5th
2    C   12   6th
3    D   13   7th

In [28]:
tup = (('A',10,'4th'),('B',11,'6th'),('6',13,'7th'))
new_df = pd.DataFrame(tup,columns=['Name','age','class'])
new_df

  Name  age class
0    A   10   4th
1    B   11   6th
2    6   13   7th

In [29]:
# Locating a ROW

### This will done by using "df.doc"[] function

In [30]:
df.loc['Rahul']

Name     A
Age     30
sex      M
Name: Rahul, dtype: object

In [31]:
print(df1.loc[0])

Name    Nitin
Age        37
Sex         M
Name: 0, dtype: object

In [32]:
print(df1.loc[2])

Name    Adhik
Age        33
Sex         M
Name: 2, dtype: object

In [33]:
df1.loc[[0,2]]#[[List of indices]]

    Name  Age Sex
0  Nitin   37   M
2  Adhik   33   M

In [36]:
val=df1.loc[[0,1,2]] # [[list of indicess]]
val

       Name  Age Sex
0     Nitin   37   M
1  Shailesh   34   M
2     Adhik   33   M

In [37]:
df.loc[['Rahul','Sandip']] #list of indices

       Name  Age sex
Rahul     A   30   M
Sandip    c   32   M

Named to indeces(row)


indices = index of rows

column = columns

In [40]:
data={"calories":[420,380,390,680,700],
      "duration":[50,40,45,49,89]}
data

{'calories': [420, 380, 390, 680, 700], 'duration': [50, 40, 45, 49, 89]}

In [42]:
df=pd.DataFrame(data,index=['day1','day2','day3','day4','day5'])
df

      calories  duration
day1       420        50
day2       380        40
day3       390        45
day4       680        49
day5       700        89

In [43]:
#named index

print(df.loc['day2'])

calories    380
duration     40
Name: day2, dtype: int64

In [45]:
print(df.loc['day4'])

calories    680
duration     49
Name: day4, dtype: int64

In [ ]:
#accesing the columns

In [46]:
print(df['calories'])

day1    420
day2    380
day3    390
day4    680
day5    700
Name: calories, dtype: int64

In [47]:
print(df[['calories','duration']])

      calories  duration
day1       420        50
day2       380        40
day3       390        45
day4       680        49
day5       700        89

In [48]:
df

      calories  duration
day1       420        50
day2       380        40
day3       390        45
day4       680        49
day5       700        89

In [49]:
df.calories

day1    420
day2    380
day3    390
day4    680
day5    700
Name: calories, dtype: int64

In [50]:
df.duration

day1    50
day2    40
day3    45
day4    49
day5    89
Name: duration, dtype: int64

In [52]:
df['calories'].max()

700

In [53]:
df['calories'].min()

380

In [54]:
df['duration']

day1    50
day2    40
day3    45
day4    49
day5    89
Name: duration, dtype: int64

In [56]:
df.describe()

         calories  duration
count    5.000000   5.00000
mean   514.000000  54.60000
std    161.493034  19.62906
min    380.000000  40.00000
25%    390.000000  45.00000
50%    420.000000  49.00000
75%    680.000000  50.00000
max    700.000000  89.00000

# Loding of data (Read and Write Opration)

In [3]:
import pandas as pd

In [4]:
pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\priya\appdata\local\programs\python\python311\lib\site-packages (3.1.2)
Requirement already satisfied: et-xmlfile in c:\users\priya\appdata\local\programs\python\python311\lib\site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 23.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [5]:
df = pd.read_excel("air_quality.xlsx")
df

,Unnamed: 0,datetime,station_antwerp,station_paris,station_london
0,0,2019-05-07 02:00:00,NaN,NaN,23.0
1,1,2019-05-07 03:00:00,50.5,25.0,19.0
2,2,2019-05-07 04:00:00,45.0,27.7,19.0
3,3,2019-05-07 05:00:00,NaN,50.4,16.0
4,4,2019-05-07 06:00:00,NaN,61.9,NaN
...,...,...,...,...,...
1030,1030,2019-06-20 22:00:00,NaN,21.4,NaN
1031,1031,2019-06-20 23:00:00,NaN,24.9,NaN
1032,1032,2019-06-21 00:00:00,NaN,26.5,NaN
1033,1033,2019-06-21 01:00:00,NaN,21.8,NaN
1034,1034,2019-06-21 02:00:00,NaN,20.0,NaN

In [6]:
df

,Unnamed: 0,datetime,station_antwerp,station_paris,station_london
0,0,2019-05-07 02:00:00,NaN,NaN,23.0
1,1,2019-05-07 03:00:00,50.5,25.0,19.0
2,2,2019-05-07 04:00:00,45.0,27.7,19.0
3,3,2019-05-07 05:00:00,NaN,50.4,16.0
4,4,2019-05-07 06:00:00,NaN,61.9,NaN
...,...,...,...,...,...
1030,1030,2019-06-20 22:00:00,NaN,21.4,NaN
1031,1031,2019-06-20 23:00:00,NaN,24.9,NaN
1032,1032,2019-06-21 00:00:00,NaN,26.5,NaN
1033,1033,2019-06-21 01:00:00,NaN,21.8,NaN
1034,1034,2019-06-21 02:00:00,NaN,20.0,NaN

In [7]:
df.head()

,Unnamed: 0,datetime,station_antwerp,station_paris,station_london
0,0,2019-05-07 02:00:00,NaN,NaN,23.0
1,1,2019-05-07 03:00:00,50.5,25.0,19.0
2,2,2019-05-07 04:00:00,45.0,27.7,19.0
3,3,2019-05-07 05:00:00,NaN,50.4,16.0
4,4,2019-05-07 06:00:00,NaN,61.9,NaN

In [8]:
# NaN = Not a Number

In [9]:
df.tail()

,Unnamed: 0,datetime,station_antwerp,station_paris,station_london
1030,1030,2019-06-20 22:00:00,NaN,21.4,NaN
1031,1031,2019-06-20 23:00:00,NaN,24.9,NaN
1032,1032,2019-06-21 00:00:00,NaN,26.5,NaN
1033,1033,2019-06-21 01:00:00,NaN,21.8,NaN
1034,1034,2019-06-21 02:00:00,NaN,20.0,NaN

In [10]:
df.abs

<bound method NDFrame.abs of       Unnamed: 0             datetime  station_antwerp  station_paris
0              0  2019-05-07 02:00:00              NaN            NaN  \
1              1  2019-05-07 03:00:00             50.5           25.0
2              2  2019-05-07 04:00:00             45.0           27.7
3              3  2019-05-07 05:00:00              NaN           50.4
4              4  2019-05-07 06:00:00              NaN           61.9
...          ...                  ...              ...            ...
1030        1030  2019-06-20 22:00:00              NaN           21.4
1031        1031  2019-06-20 23:00:00              NaN           24.9
1032        1032  2019-06-21 00:00:00              NaN           26.5
1033        1033  2019-06-21 01:00:00              NaN           21.8
1034        1034  2019-06-21 02:00:00              NaN           20.0

      station_london
0               23.0
1               19.0
2               19.0
3               16.0
4                NaN
...              ...
1030             NaN
1031             NaN
1032             NaN
1033             NaN
1034             NaN

[1035 rows x 5 columns]>

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1035 entries, 0 to 1034
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       1035 non-null   int64
 1   datetime         1035 non-null   object
 2   station_antwerp  95 non-null     float64
 3   station_paris    1004 non-null   float64
 4   station_london   969 non-null    float64
dtypes: float64(3), int64(1), object(1)
memory usage: 40.6+ KB

In [12]:
! pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\priya\appdata\local\programs\python\python311\lib\site-packages (3.1.2)

[notice] A new release of pip is available: 23.2.1 -> 23.3
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: et-xmlfile in c:\users\priya\appdata\local\programs\python\python311\lib\site-packages (from openpyxl) (1.1.0)

In [13]:
# df.to_excel("air_quality.xlsc",sheet_name="air_quality2")

In [14]:
# %ls # see the result (this is linux command for cheking result)

TO print entire dataframe use "to_string()" funnction

In [15]:
print(df.to_string())

      Unnamed: 0             datetime  station_antwerp  station_paris  station_london
0              0  2019-05-07 02:00:00              NaN            NaN            23.0
1              1  2019-05-07 03:00:00             50.5           25.0            19.0
2              2  2019-05-07 04:00:00             45.0           27.7            19.0
3              3  2019-05-07 05:00:00              NaN           50.4            16.0
4              4  2019-05-07 06:00:00              NaN           61.9             NaN
5              5  2019-05-07 07:00:00              NaN           72.4            26.0
6              6  2019-05-07 08:00:00              NaN           77.7            32.0
7              7  2019-05-07 09:00:00              NaN           67.9            32.0
8              8  2019-05-07 10:00:00              NaN           56.0            28.0
9              9  2019-05-07 11:00:00              NaN           34.5            21.0
10            10  2019-05-07 12:00:00              NaN           20.1            21.0
11            11  2019-05-07 13:00:00              NaN           13.0            18.0
12            12  2019-05-07 14:00:00              NaN           10.6            20.0
13            13  2019-05-07 15:00:00              NaN           13.2            18.0
14            14  2019-05-07 16:00:00              NaN           11.0            20.0
15            15  2019-05-07 17:00:00              NaN           11.7            20.0
16            16  2019-05-07 18:00:00              NaN           18.2            21.0
17            17  2019-05-07 19:00:00              NaN           22.3            20.0
18            18  2019-05-07 20:00:00              NaN           21.4            20.0
19            19  2019-05-07 21:00:00              NaN           26.8            24.0
20            20  2019-05-07 22:00:00              NaN           36.2            24.0
21            21  2019-05-07 23:00:00              NaN           33.9             NaN
22            22  2019-05-08 00:00:00              NaN           35.8            24.0
23            23  2019-05-08 01:00:00              NaN           34.0            19.0
24            24  2019-05-08 02:00:00              NaN           22.1            19.0
25            25  2019-05-08 03:00:00             23.0           19.6            20.0
26            26  2019-05-08 04:00:00             20.5           15.3            20.0
27            27  2019-05-08 05:00:00              NaN           13.5            19.0
28            28  2019-05-08 06:00:00              NaN           15.5            19.0
29            29  2019-05-08 07:00:00              NaN           19.3            29.0
30            30  2019-05-08 08:00:00              NaN           21.7            34.0
31            31  2019-05-08 09:00:00              NaN           19.5            36.0
32            32  2019-05-08 10:00:00              NaN           17.0            33.0
33            33  2019-05-08 11:00:00              NaN           19.7            28.0
34            34  2019-05-08 12:00:00              NaN           33.4            27.0
35            35  2019-05-08 13:00:00              NaN           21.4            26.0
36            36  2019-05-08 14:00:00              NaN           15.1            26.0
37            37  2019-05-08 15:00:00              NaN           14.3            24.0
38            38  2019-05-08 16:00:00              NaN           25.3            27.0
39            39  2019-05-08 17:00:00              NaN           26.0            28.0
40            40  2019-05-08 18:00:00              NaN           38.6            31.0
41            41  2019-05-08 19:00:00              NaN           29.3            40.0
42            42  2019-05-08 20:00:00              NaN           27.8            25.0
43            43  2019-05-08 21:00:00              NaN           41.3            29.0
44            44  2019-05-08 22:00:00              NaN           38.3            26.0
45            45  2019-05-08 23:00:00              NaN           48.9             NaN
46            46  2019-05-09 00:00:00              NaN           32.2            25.0
47            47  2019-05-09 01:00:00              NaN           25.2            30.0
48            48  2019-05-09 02:00:00              NaN           14.7             NaN
49            49  2019-05-09 03:00:00             20.0           10.6            31.0
50            50  2019-05-09 04:00:00             20.5           10.0            31.0
51            51  2019-05-09 05:00:00              NaN           10.4            33.0
52            52  2019-05-09 06:00:00              NaN           15.3            33.0
53            53  2019-05-09 07:00:00              NaN           34.5            33.0
54            54  2019-05-09 08:00:00              NaN           50.7            33.0
55            55  2019-05-09 09:00:00              NaN           49.0            35.0
56            56  2019-05-09 10:00:00              NaN           32.2            36.0
57            57  2019-05-09 11:00:00              NaN           32.3            28.0
58            58  2019-05-09 12:00:00              NaN           43.1            27.0
59            59  2019-05-09 13:00:00              NaN           34.2            30.0
60            60  2019-05-09 14:00:00              NaN           35.1            27.0
61            61  2019-05-09 15:00:00              NaN           21.3            34.0
62            62  2019-05-09 16:00:00              NaN           24.6            97.0
63            63  2019-05-09 17:00:00              NaN           23.9            67.0
64            64  2019-05-09 18:00:00              NaN           27.0            60.0
65            65  2019-05-09 19:00:00              NaN           29.9            58.0
66            66  2019-05-09 20:00:00              NaN           24.4            62.0
67            67  2019-05-09 21:00:00              NaN           23.8            59.0
68            68  2019-05-09 22:00:00              NaN           29.2            65.0
69            69  2019-05-09 23:00:00              NaN           34.5            59.0
70            70  2019-05-10 00:00:00              NaN           29.7            59.0
71            71  2019-05-10 01:00:00              NaN           26.7            52.0
72            72  2019-05-10 02:00:00              NaN           22.7            52.0
73            73  2019-05-10 03:00:00             10.5           19.1            41.0
74            74  2019-05-10 04:00:00             11.5           14.1            41.0
75            75  2019-05-10 05:00:00              NaN           15.0            40.0
76            76  2019-05-10 06:00:00              NaN           20.5            40.0
77            77  2019-05-10 07:00:00              NaN           37.8            39.0
78            78  2019-05-10 08:00:00              NaN           47.4            36.0
79            79  2019-05-10 09:00:00              NaN           57.3            39.0
80            80  2019-05-10 10:00:00              NaN           60.7            34.0
81            81  2019-05-10 11:00:00              NaN           53.4            31.0
82            82  2019-05-10 12:00:00              NaN           35.1            29.0
83            83  2019-05-10 13:00:00              NaN           23.2            28.0
84            84  2019-05-10 14:00:00              NaN           25.3            26.0
85            85  2019-05-10 15:00:00              NaN           22.0            25.0
86            86  2019-05-10 16:00:00              NaN           29.3            25.0
87            87  2019-05-10 17:00:00              NaN           29.6            24.0
88            88  2019-05-10 18:00:00              NaN           30.8            26.0
89            89  2019-05-10 19:00:00              NaN           37.8            26.0
90            90  2019-05-10 20:00:00              NaN           33.4            29.0
91            91  2019-05-10 21:00:00              NaN           39.3            29.0
92            92  2019-05-10 22:00:00              NaN           43.6            29.0
93            93  2019-05-10 23:00:00              NaN           37.0            31.0
94            94  2019-05-11 00:00:00              NaN           28.1            31.0
95            95  2019-05-11 01:00:00              NaN           26.0            27.0
96            96  2019-05-11 02:00:00              NaN           24.8            27.0
97            97  2019-05-11 03:00:00             26.5           15.5            32.0
98            98  2019-05-11 04:00:00             21.0           14.9            32.0
99            99  2019-05-11 05:00:00              NaN            NaN            35.0
100          100  2019-05-11 06:00:00              NaN            NaN            35.0
101          101  2019-05-11 07:00:00              NaN            NaN            30.0
102          102  2019-05-11 08:00:00              NaN           28.9            30.0
103          103  2019-05-11 09:00:00              NaN           29.0            27.0
104          104  2019-05-11 10:00:00              NaN           32.1            30.0
105          105  2019-05-11 11:00:00              NaN           35.7             NaN
106          106  2019-05-11 12:00:00              NaN           36.8             NaN
107          107  2019-05-11 13:00:00              NaN           33.2             NaN
108          108  2019-05-11 14:00:00              NaN           30.2             NaN
109          109  2019-05-11 15:00:00              NaN           30.8             NaN
110          110  2019-05-11 16:00:00              NaN           17.8            28.0
111          111  2019-05-11 17:00:00              NaN           18.0            26.0
112          112  2019-05-11 18:00:00              NaN           19.5            28.0
113          113  2019-05-11 19:00:00              NaN           32.0            31.0
114          114  2019-05-11 20:00:00              NaN           33.1            33.0
115          115  2019-05-11 21:00:00              NaN           31.2            33.0
116          116  2019-05-11 22:00:00              NaN           24.2            34.0
117          117  2019-05-11 23:00:00              NaN           21.1            37.0
118          118  2019-05-12 00:00:00              NaN           27.7            37.0
119          119  2019-05-12 01:00:00              NaN           26.4            35.0
120          120  2019-05-12 02:00:00              NaN           22.8            35.0
121          121  2019-05-12 03:00:00             17.5           19.2            38.0
122          122  2019-05-12 04:00:00             20.0           17.2            38.0
123          123  2019-05-12 05:00:00              NaN           16.0            36.0
124          124  2019-05-12 06:00:00              NaN           16.2            36.0
125          125  2019-05-12 07:00:00              NaN           19.2            38.0
126          126  2019-05-12 08:00:00              NaN           20.1            44.0
127          127  2019-05-12 09:00:00              NaN           15.9            32.0
128          128  2019-05-12 10:00:00              NaN           14.6            26.0
129          129  2019-05-12 11:00:00              NaN           11.7            26.0
130          130  2019-05-12 12:00:00              NaN           11.4            21.0
131          131  2019-05-12 13:00:00              NaN           11.4            20.0
132          132  2019-05-12 14:00:00              NaN           10.9            19.0
133          133  2019-05-12 15:00:00              NaN            8.7            21.0
134          134  2019-05-12 16:00:00              NaN            9.1            22.0
135          135  2019-05-12 17:00:00              NaN            9.6            23.0
136          136  2019-05-12 18:00:00              NaN           11.7            24.0
137          137  2019-05-12 19:00:00              NaN           13.9            22.0
138          138  2019-05-12 20:00:00              NaN           18.2            22.0
139          139  2019-05-12 21:00:00              NaN           19.5            22.0
140          140  2019-05-12 22:00:00              NaN           24.1            21.0
141          141  2019-05-12 23:00:00              NaN           34.2            22.0
142          142  2019-05-13 00:00:00              NaN           46.5            22.0
143          143  2019-05-13 01:00:00              NaN           32.5            22.0
144          144  2019-05-13 02:00:00              NaN           25.0            22.0
145          145  2019-05-13 03:00:00             14.5           18.9            24.0
146          146  2019-05-13 04:00:00             14.5           18.5            24.0
147          147  2019-05-13 05:00:00              NaN           18.9            33.0
148          148  2019-05-13 06:00:00              NaN           25.1            33.0
149          149  2019-05-13 07:00:00              NaN           38.3            39.0
150          150  2019-05-13 08:00:00              NaN           45.2            39.0
151          151  2019-05-13 09:00:00              NaN           41.0            31.0
152          152  2019-05-13 10:00:00              NaN           32.1            29.0
153          153  2019-05-13 11:00:00              NaN           20.6            27.0
154          154  2019-05-13 12:00:00              NaN           12.8            26.0
155          155  2019-05-13 13:00:00              NaN            9.6            24.0
156          156  2019-05-13 14:00:00              NaN            9.2            25.0
157          157  2019-05-13 15:00:00              NaN           10.1            26.0
158          158  2019-05-13 16:00:00              NaN           10.7            28.0
159          159  2019-05-13 17:00:00              NaN           10.6            29.0
160          160  2019-05-13 18:00:00              NaN           12.1            30.0
161          161  2019-05-13 19:00:00              NaN           13.0            30.0
162          162  2019-05-13 20:00:00              NaN           15.5            31.0
163          163  2019-05-13 21:00:00              NaN           23.9            31.0
164          164  2019-05-13 22:00:00              NaN           28.3            31.0
165          165  2019-05-13 23:00:00              NaN           30.4            31.0
166          166  2019-05-14 00:00:00              NaN           27.3            31.0
167          167  2019-05-14 01:00:00              NaN           22.8            23.0
168          168  2019-05-14 02:00:00              NaN           20.9            23.0
169          169  2019-05-14 03:00:00             14.5           19.1            26.0
170          170  2019-05-14 04:00:00             11.5           19.0            26.0
171          171  2019-05-14 05:00:00              NaN           22.1            30.0
172          172  2019-05-14 06:00:00              NaN           31.6            30.0
173          173  2019-05-14 07:00:00              NaN           38.6            33.0
174          174  2019-05-14 08:00:00              NaN           46.1            34.0
175          175  2019-05-14 09:00:00              NaN           41.3            33.0
176          176  2019-05-14 10:00:00              NaN           28.8            30.0
177          177  2019-05-14 11:00:00              NaN           19.0            31.0
178          178  2019-05-14 12:00:00              NaN           12.9            27.0
179          179  2019-05-14 13:00:00              NaN           11.3            25.0
180          180  2019-05-14 14:00:00              NaN           10.2            25.0
181          181  2019-05-14 15:00:00              NaN           11.0            25.0
182          182  2019-05-14 16:00:00              NaN           15.2            29.0
183          183  2019-05-14 17:00:00              NaN           13.4            32.0
184          184  2019-05-14 18:00:00              NaN           15.3            33.0
185          185  2019-05-14 19:00:00              NaN           17.7             0.0
186          186  2019-05-14 20:00:00              NaN           17.9             0.0
187          187  2019-05-14 21:00:00              NaN           23.3             0.0
188          188  2019-05-14 22:00:00              NaN           28.4            25.0
189          189  2019-05-14 23:00:00              NaN           29.0            26.0
190          190  2019-05-15 00:00:00              NaN           30.9            26.0
191          191  2019-05-15 01:00:00              NaN           24.3            22.0
192          192  2019-05-15 02:00:00              NaN           18.8             NaN
193          193  2019-05-15 03:00:00             25.5           17.2            22.0
194          194  2019-05-15 04:00:00             22.5           16.8            22.0
195          195  2019-05-15 05:00:00              NaN           17.9            25.0
196          196  2019-05-15 06:00:00              NaN           28.9            25.0
197          197  2019-05-15 07:00:00              NaN           46.5            33.0
198          198  2019-05-15 08:00:00              NaN           48.1            33.0
199          199  2019-05-15 09:00:00              NaN           32.1            34.0
200          200  2019-05-15 10:00:00              NaN           25.7            35.0
201          201  2019-05-15 11:00:00              NaN            0.0            36.0
202          202  2019-05-15 12:00:00              NaN            0.0            35.0
203          203  2019-05-15 13:00:00              NaN            0.0            30.0
204          204  2019-05-15 14:00:00              NaN            9.4            31.0
205          205  2019-05-15 15:00:00              NaN           10.0            30.0
206          206  2019-05-15 16:00:00              NaN           11.9            38.0
207          207  2019-05-15 17:00:00              NaN           12.9            38.0
208          208  2019-05-15 18:00:00              NaN           12.2            33.0
209          209  2019-05-15 19:00:00              NaN           12.9            35.0
210          210  2019-05-15 20:00:00              NaN           16.5            33.0
211          211  2019-05-15 21:00:00              NaN           20.3            31.0
212          212  2019-05-15 22:00:00              NaN           30.1            32.0
213          213  2019-05-15 23:00:00              NaN           36.0            33.0
214          214  2019-05-16 00:00:00              NaN           44.1            33.0
215          215  2019-05-16 01:00:00              NaN           30.9            33.0
216          216  2019-05-16 02:00:00              NaN           27.4            33.0
217          217  2019-05-16 03:00:00             28.0           26.0            28.0
218          218  2019-05-16 04:00:00              NaN           26.7            28.0
219          219  2019-05-16 05:00:00              NaN           27.9            26.0
220          220  2019-05-16 06:00:00              NaN           37.0            26.0
221          221  2019-05-16 07:00:00              NaN           52.6            33.0
222          222  2019-05-16 08:00:00              NaN            NaN            34.0
223          223  2019-05-16 09:00:00              NaN           40.0            33.0
224          224  2019-05-16 10:00:00              NaN           39.4            32.0
225          225  2019-05-16 11:00:00              NaN           29.5            31.0
226          226  2019-05-16 12:00:00              NaN           13.5            33.0
227          227  2019-05-16 13:00:00              NaN           10.5            30.0
228          228  2019-05-16 14:00:00              NaN            9.2            27.0
229          229  2019-05-16 15:00:00              NaN            8.5            27.0
230          230  2019-05-16 16:00:00              NaN            8.1            26.0

In [16]:
print(df)

      Unnamed: 0             datetime  station_antwerp  station_paris
0              0  2019-05-07 02:00:00              NaN            NaN  \
1              1  2019-05-07 03:00:00             50.5           25.0
2              2  2019-05-07 04:00:00             45.0           27.7
3              3  2019-05-07 05:00:00              NaN           50.4
4              4  2019-05-07 06:00:00              NaN           61.9
...          ...                  ...              ...            ...
1030        1030  2019-06-20 22:00:00              NaN           21.4
1031        1031  2019-06-20 23:00:00              NaN           24.9
1032        1032  2019-06-21 00:00:00              NaN           26.5
1033        1033  2019-06-21 01:00:00              NaN           21.8
1034        1034  2019-06-21 02:00:00              NaN           20.0

      station_london
0               23.0
1               19.0
2               19.0
3               16.0
4                NaN
...              ...
1030             NaN
1031             NaN
1032             NaN
1033             NaN
1034             NaN

[1035 rows x 5 columns]

In [17]:
df

,Unnamed: 0,datetime,station_antwerp,station_paris,station_london
0,0,2019-05-07 02:00:00,NaN,NaN,23.0
1,1,2019-05-07 03:00:00,50.5,25.0,19.0
2,2,2019-05-07 04:00:00,45.0,27.7,19.0
3,3,2019-05-07 05:00:00,NaN,50.4,16.0
4,4,2019-05-07 06:00:00,NaN,61.9,NaN
...,...,...,...,...,...
1030,1030,2019-06-20 22:00:00,NaN,21.4,NaN
1031,1031,2019-06-20 23:00:00,NaN,24.9,NaN
1032,1032,2019-06-21 00:00:00,NaN,26.5,NaN
1033,1033,2019-06-21 01:00:00,NaN,21.8,NaN
1034,1034,2019-06-21 02:00:00,NaN,20.0,NaN

### Maximum ROWS returned in pandas

In [18]:
print(pd.options.display.min_rows)

10

In [19]:
print(pd.options.display.max_rows)

60

In [20]:
print(pd.options.display.max_columns)

20

# Analyzing data

In [21]:
df.head()

,Unnamed: 0,datetime,station_antwerp,station_paris,station_london
0,0,2019-05-07 02:00:00,NaN,NaN,23.0
1,1,2019-05-07 03:00:00,50.5,25.0,19.0
2,2,2019-05-07 04:00:00,45.0,27.7,19.0
3,3,2019-05-07 05:00:00,NaN,50.4,16.0
4,4,2019-05-07 06:00:00,NaN,61.9,NaN

In [22]:
df.tail()

,Unnamed: 0,datetime,station_antwerp,station_paris,station_london
1030,1030,2019-06-20 22:00:00,NaN,21.4,NaN
1031,1031,2019-06-20 23:00:00,NaN,24.9,NaN
1032,1032,2019-06-21 00:00:00,NaN,26.5,NaN
1033,1033,2019-06-21 01:00:00,NaN,21.8,NaN
1034,1034,2019-06-21 02:00:00,NaN,20.0,NaN

In [23]:
df.head(20)

,Unnamed: 0,datetime,station_antwerp,station_paris,station_london
0,0,2019-05-07 02:00:00,NaN,NaN,23.0
1,1,2019-05-07 03:00:00,50.5,25.0,19.0
2,2,2019-05-07 04:00:00,45.0,27.7,19.0
3,3,2019-05-07 05:00:00,NaN,50.4,16.0
4,4,2019-05-07 06:00:00,NaN,61.9,NaN
5,5,2019-05-07 07:00:00,NaN,72.4,26.0
6,6,2019-05-07 08:00:00,NaN,77.7,32.0
7,7,2019-05-07 09:00:00,NaN,67.9,32.0
8,8,2019-05-07 10:00:00,NaN,56.0,28.0
9,9,2019-05-07 11:00:00,NaN,34.5,21.0
10,10,2019-05-07 12:00:00,NaN,20.1,21.0
11,11,2019-05-07 13:00:00,NaN,13.0,18.0
12,12,2019-05-07 14:00:00,NaN,10.6,20.0
13,13,2019-05-07 15:00:00,NaN,13.2,18.0
14,14,2019-05-07 16:00:00,NaN,11.0,20.0
15,15,2019-05-07 17:00:00,NaN,11.7,20.0
16,16,2019-05-07 18:00:00,NaN,18.2,21.0
17,17,2019-05-07 19:00:00,NaN,22.3,20.0
18,18,2019-05-07 20:00:00,NaN,21.4,20.0
19,19,2019-05-07 21:00:00,NaN,26.8,24.0

In [24]:
df.tail(15)

,Unnamed: 0,datetime,station_antwerp,station_paris,station_london
1020,1020,2019-06-19 00:00:00,NaN,39.3,NaN
1021,1021,2019-06-19 11:00:00,NaN,27.3,NaN
1022,1022,2019-06-19 12:00:00,NaN,26.6,NaN
1023,1023,2019-06-20 15:00:00,NaN,19.4,NaN
1024,1024,2019-06-20 16:00:00,NaN,20.1,NaN
1025,1025,2019-06-20 17:00:00,NaN,19.3,NaN
1026,1026,2019-06-20 18:00:00,NaN,19.0,NaN
1027,1027,2019-06-20 19:00:00,NaN,23.2,NaN
1028,1028,2019-06-20 20:00:00,NaN,23.9,NaN
1029,1029,2019-06-20 21:00:00,NaN,25.3,NaN
1030,1030,2019-06-20 22:00:00,NaN,21.4,NaN
1031,1031,2019-06-20 23:00:00,NaN,24.9,NaN
1032,1032,2019-06-21 00:00:00,NaN,26.5,NaN
1033,1033,2019-06-21 01:00:00,NaN,21.8,NaN
1034,1034,2019-06-21 02:00:00,NaN,20.0,NaN

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1035 entries, 0 to 1034
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       1035 non-null   int64
 1   datetime         1035 non-null   object
 2   station_antwerp  95 non-null     float64
 3   station_paris    1004 non-null   float64
 4   station_london   969 non-null    float64
dtypes: float64(3), int64(1), object(1)
memory usage: 40.6+ KB

In [26]:
df.describe()

        Unnamed: 0  station_antwerp  station_paris  station_london
count  1035.000000        95.000000    1004.000000      969.000000
mean    517.000000        25.778947      27.740538       24.689370
std     298.923067        12.682019      15.285746       11.296598
min       0.000000         7.500000       0.000000        0.000000
25%     258.500000        16.750000      16.500000       18.000000
50%     517.000000        23.000000      24.150000       25.000000
75%     775.500000        34.500000      35.925000       31.000000
max    1034.000000        74.500000      97.000000       97.000000

In [ ]:
#df.corr()>> ValueError

#ValueError: could not convert string to float : '2019-05-07

# Data Cleaning

#### Data cleaning means fixing bad data in your data set

#### bad data could be :

      1: Empty cells
      2: Data in wrong format
      3: wrong data
      4: Duplicates

### 1, Cleaning Empty Cells

Removes Rows that contain empty cell.

This Is uaually OK, Since data sets can be very big , And removing a few
rows will Not have a big impact on the result

In [29]:
df1 = df.copy()

In [30]:
df1

,Unnamed: 0,datetime,station_antwerp,station_paris,station_london
0,0,2019-05-07 02:00:00,NaN,NaN,23.0
1,1,2019-05-07 03:00:00,50.5,25.0,19.0
2,2,2019-05-07 04:00:00,45.0,27.7,19.0
3,3,2019-05-07 05:00:00,NaN,50.4,16.0
4,4,2019-05-07 06:00:00,NaN,61.9,NaN
...,...,...,...,...,...
1030,1030,2019-06-20 22:00:00,NaN,21.4,NaN
1031,1031,2019-06-20 23:00:00,NaN,24.9,NaN
1032,1032,2019-06-21 00:00:00,NaN,26.5,NaN
1033,1033,2019-06-21 01:00:00,NaN,21.8,NaN
1034,1034,2019-06-21 02:00:00,NaN,20.0,NaN

In [33]:
df1.head()

,Unnamed: 0,datetime,station_antwerp,station_paris,station_london
0,0,2019-05-07 02:00:00,NaN,NaN,23.0
1,1,2019-05-07 03:00:00,50.5,25.0,19.0
2,2,2019-05-07 04:00:00,45.0,27.7,19.0
3,3,2019-05-07 05:00:00,NaN,50.4,16.0
4,4,2019-05-07 06:00:00,NaN,61.9,NaN

In [34]:
df1.isnull()

      Unnamed: 0  datetime  station_antwerp  station_paris  station_london
0          False     False             True           True           False
1          False     False            False          False           False
2          False     False            False          False           False
3          False     False             True          False           False
4          False     False             True          False            True
...          ...       ...              ...            ...             ...
1030       False     False             True          False            True
1031       False     False             True          False            True
1032       False     False             True          False            True
1033       False     False             True          False            True
1034       False     False             True          False            True

[1035 rows x 5 columns]

In [35]:
len(df1)

1035

In [36]:
1035-940

95