# Panads for ML

### What is Pandas?

1.It is a python library

2.Used to analyze data

pandas is a library used for working with data sets.

it has fuctions for analyzing , clenaing , exploring, 
and manipulating data

## Why Pandas?

pandas allows us to analyze big data and make conclusions based on stastistical theories.

pandas can clean messy data sets, and make them readable and relevant data is very important in data science.

pandas gives you answers about the data like:
    
    Ls  there a crrelation between two or more columns?
    max values ?
    min values

## Features

1. working with large data sheets
2. It is high prformance data analyze tool 
3. It is supports or load large data sheets and more 
flexible to use
4. pandas represent data in tabular(raws and columns)way
5. more efficeient with missing data 
6. It is used for indexing,slicing, subseting the large data 
7. we can merge and join two different dataset easily
8. we can rshape the dataset easily

### INSTALL PANDAS

In [2]:
! pip install pandas

Requirement already satisfied: pandas in c:\users\priya\appdata\local\programs\python\python311\lib\site-packages (2.0.0)

[notice] A new release of pip is available: 23.0.1 -> 23.2.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\priya\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\priya\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in c:\users\priya\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\priya\appdata\local\programs\python\python311\lib\site-packages (from pandas) (1.24.2)
Requirement already satisfied: six>=1.5 in c:\users\priya\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [3]:
import pandas as pd
import numpy as np

In [5]:
 pip install --upgrade pip

Requirement already satisfied: pip in c:\users\priya\appdata\local\programs\python\python311\lib\site-packages (23.0.1)Note: you may need to restart the kernel to use updated packages.

Collecting pip
  Downloading pip-23.2.1-py3-none-any.whl (2.1 MB)
     ---------------------------------------- 2.1/2.1 MB 5.5 MB/s eta 0:00:00
Installing collected packages: pip
  Attempting uninstall: pip
    Found existing installation: pip 23.0.1
    Uninstalling pip-23.0.1:
      Successfully uninstalled pip-23.0.1
Successfully installed pip-23.2.1

In [6]:
import pandas as pd
import numpy as np

In [9]:
print(pd.__version__)

2.0.0

In [8]:
print(np.__version__)

1.24.2

#### Two data structures in pandas

1. Series : A one-dimentional labeled array capable of holding 
    any data type 
2. it is similar to acolumn in a predsheet or a SQL table 
3. DataFrame : A two-dimentinaol labeled data structure 
    with columns of potentially different types .
4. it is similar to a spredsheet , SQL table, or a dict of series Object

##### These data structres provide a lot of flexibility and power working with data in pandas

# Series

##### What is series

Pandas series is like a colum in a table
it is one dimentional array holding data of any type

In [23]:
s = pd.Series ([1,2,3,4,5,6,7,8,9])
s

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64

In [24]:
print(type(s))

<class 'pandas.core.series.Series'>

#### Acess element from series

In [25]:
s[0]

1

In [26]:
print(s)

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64

In [27]:
s[4]

5

#### You can give name to series index

In [28]:
dp = [10,20,30,40,50,60,70]
new_dp = pd.Series (dp, index=["A","B","C","D","E","F","G"])
new_dp

A    10
B    20
C    30
D    40
E    50
F    60
G    70
dtype: int64

In [29]:
list1 = [1,2,3,4,5]
ns = pd.Series(list1,index = ["ABS","DEF","GHI","JKL","MNO"])
ns

ABS    1
DEF    2
GHI    3
JKL    4
MNO    5
dtype: int64

#### Access items using lables

In [30]:
new_dp

A    10
B    20
C    30
D    40
E    50
F    60
G    70
dtype: int64

In [31]:
new_dp["A"]

10

In [32]:
new_dp["F"]

60

#### key /values Object as series

In [33]:
emp = {"Dipak":10,"Dipesh":20,"Dinesh":30}
emp1 = pd.Series(emp)
emp1

Dipak     10
Dipesh    20
Dinesh    30
dtype: int64

In [34]:
calories = {
            'day1': 500,
            'day2': 380,
            'day3': 450,
            'day4': 504, 
}

cal = pd.Series(calories)
cal

day1    500
day2    380
day3    450
day4    504
dtype: int64

In [35]:
cal['day2']

380

In [36]:
cal_new = pd.Series (cal,index =['day1','day2'])
cal_new

day1    500
day2    380
dtype: int64

###### Home work

In [103]:
import pandas as pd
import numpy as np

In [104]:
lst = [1,1.2,'abhi',2,2.2,'dipu',3,3.3,'samir',4,4.4]
lst1 = pd.Series(lst)
lst1

0         1
1       1.2
2      abhi
3         2
4       2.2
5      dipu
6         3
7       3.3
8     samir
9         4
10      4.4
dtype: object

In [105]:
int_s = pd.Series(lst1, index=[0,3,6,9])
int_s

0    1
3    2
6    3
9    4
dtype: object

In [106]:
int_s[0],int_s[3],int_s[6],int_s[9]

(1, 2, 3, 4)

In [107]:
flt=pd.Series(lst1,index=[1,4,7,10])
flt

1     1.2
4     2.2
7     3.3
10    4.4
dtype: object

In [108]:
flt[1],flt[4],flt[7],flt[10]

(1.2, 2.2, 3.3, 4.4)

In [109]:
str1 = pd.Series(lst1,index=[2,5,8])
str1

2     abhi
5     dipu
8    samir
dtype: object

In [110]:
str1[2],str1[5],str1[8]

('abhi', 'dipu', 'samir')

In [113]:
#creat series by using tuple
tup_s = pd.Series([("a",10),('b',20),('c',30),('d',40)])
tup_s

0    (a, 10)
1    (b, 20)
2    (c, 30)
3    (d, 40)
dtype: object

In [114]:
empty_s = pd.Series()
empty_s

Series([], dtype: object)

In [115]:
# creat series by using array
arr = np.array([10,20,30,40])
arr_s = pd.Series(arr)
arr_s

0    10
1    20
2    30
3    40
dtype: int32

In [117]:
sub = (('A',10,'Pune','MH'),('B',20,'Sangli','MH'),('C', 30,'Kolkata','MH'))
sub_s =pd.Series(sub,index=['std1:','std2:',3])
sub_s

std1:       (A, 10, Pune, MH)
std2:     (B, 20, Sangli, MH)
3        (C, 30, Kolkata, MH)
dtype: object

In [118]:
arr = np.arange(1,100,10)
arr_s=pd.Series(arr,index=[np.arange(1,100,10)])
arr_s

1      1
11    11
21    21
31    31
41    41
51    51
61    61
71    71
81    81
91    91
dtype: int32

In [124]:
arr = np.arange(1,100,10)
arr_s=pd.Series(arr,index=[np.arange(1,200,20)])
arr_s

1       1
21     11
41     21
61     31
81     41
101    51
121    61
141    71
161    81
181    91
dtype: int32

In [3]:
import pandas as pd

In [4]:
l=['apple','mango','pineaplle','chiku']
fruit=pd.Series(l,index=['Pink','orange','green', "chocalaty"])
fruit

Pink             apple
orange           mango
green        pineaplle
chocalaty        chiku
dtype: object

In [8]:
fruit['green']= 'greenmango'

In [9]:
fruit

Pink              apple
orange            mango
green        greenmango
chocalaty         chiku
dtype: object

In [11]:
l=['apple','mango','pineapple','chiku']
fruit =pd.Series(l,copy=False)
fruit.iloc[0]='coconut'
fruit

0      coconut
1        mango
2    pineapple
3        chiku
dtype: object

# DataFrame

### Dataframe :
Data sets in pandas are usually multi-dimensional tables,called Dataframe
### Series : is likes a column, a Datafrmae is the whole table
    
A Pandas Dataframes is a 2 Dimensional data struture,like a 2 dimentinaol array, or a table with rows and columns

In [21]:
student = {
     'Name': ["Nitin","Shailesh","Adhik"],
     'Age':[37,34,33],
     'Sex' :['M','M','M']
}

df1= pd.DataFrame(student)
print(df1)

       Name  Age Sex
0     Nitin   37   M
1  Shailesh   34   M
2     Adhik   33   M

In [22]:
student = {
    
}

In [23]:
a = "Dipak"
print(a)

Dipak

In [24]:
len(a)

5

In [25]:
student = {
    'Name':['A','B','c'],
     'Age':[30,31,32],
     'sex': ['M','F','M']
}

df = pd.DataFrame(student,index=['Rahul','Priya','Sandip'])
df

       Name  Age sex
Rahul     A   30   M
Priya     B   31   F
Sandip    c   32   M

In [26]:
import pandas as pd

In [27]:
stud = {
        'Name':['A','B','C','D'],
        'age' : [10,11,12,13],
        'class':['4th','5th','6th','7th']

}

new_df = pd.DataFrame(stud)
new_df

  Name  age class
0    A   10   4th
1    B   11   5th
2    C   12   6th
3    D   13   7th

In [28]:
tup = (('A',10,'4th'),('B',11,'6th'),('6',13,'7th'))
new_df = pd.DataFrame(tup,columns=['Name','age','class'])
new_df

  Name  age class
0    A   10   4th
1    B   11   6th
2    6   13   7th

In [29]:
# Locating a ROW

### This will done by using "df.doc"[] function

In [30]:
df.loc['Rahul']

Name     A
Age     30
sex      M
Name: Rahul, dtype: object

In [31]:
print(df1.loc[0])

Name    Nitin
Age        37
Sex         M
Name: 0, dtype: object

In [32]:
print(df1.loc[2])

Name    Adhik
Age        33
Sex         M
Name: 2, dtype: object

In [33]:
df1.loc[[0,2]]#[[List of indices]]

    Name  Age Sex
0  Nitin   37   M
2  Adhik   33   M

In [36]:
val=df1.loc[[0,1,2]] # [[list of indicess]]
val

       Name  Age Sex
0     Nitin   37   M
1  Shailesh   34   M
2     Adhik   33   M

In [37]:
df.loc[['Rahul','Sandip']] #list of indices

       Name  Age sex
Rahul     A   30   M
Sandip    c   32   M

Named to indeces(row)


indices = index of rows

column = columns

In [40]:
data={"calories":[420,380,390,680,700],
      "duration":[50,40,45,49,89]}
data

{'calories': [420, 380, 390, 680, 700], 'duration': [50, 40, 45, 49, 89]}

In [42]:
df=pd.DataFrame(data,index=['day1','day2','day3','day4','day5'])
df

      calories  duration
day1       420        50
day2       380        40
day3       390        45
day4       680        49
day5       700        89

In [43]:
#named index

print(df.loc['day2'])

calories    380
duration     40
Name: day2, dtype: int64

In [45]:
print(df.loc['day4'])

calories    680
duration     49
Name: day4, dtype: int64

In [ ]:
#accesing the columns

In [46]:
print(df['calories'])

day1    420
day2    380
day3    390
day4    680
day5    700
Name: calories, dtype: int64

In [47]:
print(df[['calories','duration']])

      calories  duration
day1       420        50
day2       380        40
day3       390        45
day4       680        49
day5       700        89

In [48]:
df

      calories  duration
day1       420        50
day2       380        40
day3       390        45
day4       680        49
day5       700        89

In [49]:
df.calories

day1    420
day2    380
day3    390
day4    680
day5    700
Name: calories, dtype: int64

In [50]:
df.duration

day1    50
day2    40
day3    45
day4    49
day5    89
Name: duration, dtype: int64

In [52]:
df['calories'].max()

700

In [53]:
df['calories'].min()

380

In [54]:
df['duration']

day1    50
day2    40
day3    45
day4    49
day5    89
Name: duration, dtype: int64

In [56]:
df.describe()

         calories  duration
count    5.000000   5.00000
mean   514.000000  54.60000
std    161.493034  19.62906
min    380.000000  40.00000
25%    390.000000  45.00000
50%    420.000000  49.00000
75%    680.000000  50.00000
max    700.000000  89.00000

# Loding of data (Read and Write Opration)

In [59]:
df = pd.read_csv('air_quality.csv')
df

FileNotFoundError: [Errno 2] No such file or directory: 'air_quality.csv'